[mysqld]
server-id=2
relay-log=mysql-relay-bin
log-bin=mysql-bin
binlog_format=ROW
gtid_mode=ON
enforce_gtid_consistency=ON
log_replica_updates=ON

plugin_load_add=semisync_replica.so
loose-rpl_semi_sync_replica_enabled=ON

slow_query_log=ON
long_query_time=0.5
min_examined_row_limit=100
log_output=FILE
slow_query_log_file=/var/lib/mysql/mysql-slow.log
log_queries_not_using_indexes=OFF
